body {
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: $color-black;
	font-style: italic;
	text-align: center;
	background-color: $bg-color-white;
	margin: 0;
}

a {
	text-decoration: none;
}

// адаптив
@mixin tablet {
  @media (max-width: $desktop - 1px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $tablet - 1px) {
    @content;
  }
}


@mixin visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0px;
	padding: 0px;
}

.visually-hidden {
	@include visually-hidden;
}

.result {
	display: block;
	font-size: 24px;
	line-height: normal;
	font-weight: 600;
	margin: 10px;;
}

.hidden {
	display: none !important;
}
