.blade {
    box-sizing: border-box;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    z-index: 1;
    //width: 45px;
    //height: 45px;
    width: 8vh;
    height: 8vh;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: calc(50% - 4vh);
    border: 1px solid black;

    &--work {
        transform: scale(1.1);
        opacity: 0.6;
    }

    &--active {
        border: none;
        transform-origin: center center;
        opacity: 0.3;
    }
    
    &--top-right {
        background-image: url("img/blade-top-right.svg");
    }

    &--top-left {
        background-image: url("img/blade-top-left.svg");
    }

    &--bottom-right {
        background-image: url("img/blade-bottom-right.svg");
    }

    &--bottom-left {
        background-image: url("img/blade-bottom-left.svg");
    }

    &--left-right {
        background-image: url("img/blade-left-right.svg");
    }

    &--top-bottom {
        background-image: url("img/blade-top-bottom.svg");
    }
}
