body {
    //display: flex;
    //justify-content: center;

}
.game {
    margin: auto;
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    
    
    &__start {
        position: absolute;
        top: 0;
        left: 50%;
        @include transition(all);
        font-size: 20px;
        text-transform: uppercase;
        margin: 0 0 15px 0;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: brown;
        color: white;
        cursor: pointer;
        transform: translateX(-50%);

        &:hover,
        &:focus {
            outline: none;
            opacity: 0.9;
        }
    }

    &__level {
        //height: 10%;
    }

    &__playground {
        box-sizing: border-box;
        background-color: burlywood;
        padding: 20px;
    }

    &__field {
        margin: 0 auto;
    }

    &__blade {
        //min-height: 10%;
        display: flex;
        position: relative;
    }
}
