.game {
    margin: auto;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(0,129,255,0.8) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; 
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;

    &__container {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    &__name {
        color: #ffffff;
        margin: 0;
        font-size: 36px;
        line-height: normal;
        font-weight: 400;
        margin: 10px 0;
    }
    
    &__level {
        display: block;
        color: #ffffff;
        margin: 0;
        font-size: 42px;
        line-height: normal;
        font-weight: 400;
        transition-property: opacity;
        transition-duration: 1s;
    }

    &__field {
        width: 100%;
        margin: 0 auto 10px;
        display: flex;
        transition-property: opacity;
        transition-duration: 1s;
    }

    &__blade {
        height: 61px;
        min-width: 100%;
    }

    &__button {
        //width: 50%;
        //position: absolute;
        @include transition(all);
        font-size: 42px;
        text-transform: uppercase;
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        border: none;
        background-color: rgba($color: white, $alpha: 0.2);
        border: 3px solid white;
        color: white;
        cursor: pointer;
        background-repeat: no-repeat;
        background-size: 70%;
        background-position: center;
        border-radius: 50%;
        outline: none;
        //transform: translateX(-50%);

        &:hover,
        &:focus {
            //font-size: 42px;
            outline: none;
            background-color: rgba($color: white, $alpha: 0.4);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            transform: scale(1.1);
        }

        &--start {
            height: 30vh;
            width: 30vh;
            min-width: 150px;
            min-height: 150px;
            margin-bottom: 50px;        }
    
        &--colors {
            position: absolute;
            bottom: 0;
            left: 20%;
        }

        &--small {
            
            min-height: 70px;
            min-width: 70px;
        }

        &--sound {
            background-image: url("img/sound-on.svg");
        }

        &--sound-off {
            background-image: url("img/sound-off.svg");
        }

        &--record {
            background-image: url("img/icon-table.svg");
            background-size: 60%;
        }
    }

    &__menu {
        width: auto;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__play {
        width: 100%;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }

    &__score-title {
        display: block;
        color: #ffffff;
        margin: 0;
        font-size: 20px;
        line-height: normal;
        font-weight: 400;
        margin-top: 20px;
        text-transform: lowercase;
    }

    &__score-value {
        display: block;
        color: #ffffff;
        margin: 0;
        font-size: 40px;
        line-height: normal;
        font-weight: 400;
        margin-top: 10px;
    }

    &__buttons {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__settings {
        display: flex;
        flex-direction: row;
    }

    &__player-name {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 30px;

        input {
            display: block;
            box-sizing: border-box;
            min-width: 300px;
            min-height: 40px;
            margin: 0;
            padding: 5px 10px;
            background-color: rgba($color: white, $alpha: 0.2);
            border: 1px solid white;
            color: white;
            border-radius: 5px;
            font-size: 20px;

            &::placeholder {
                color: white;
            }

            &:focus {
                outline: none;
                border-color: #020030;
                &::placeholder {
                    color: white;
                }   
            }
        }

        button {
            @include transition(all);
            cursor: pointer;
            display: block;
            box-sizing: border-box;
            height: 30px;
            width: 30px;
            border-radius: 50%;
            //border: 1px solid white;
            border: none;
            background-color: transparent;
            background-image: url("img/icon-enter.svg");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-left: 15px;

            &:hover,
            &:focus {
                background-color: rgba($color: white, $alpha: 0.2);
                transform: scale(1.4);    
                border: 1px solid white;
                background-size: 70%;
                outline: none;
            }

            &:active {
                outline: none;
            }
        }

        &--error input {
            border-color: brown;
            &::placeholder {
                color: brown;
            }
        }
    }

    @include mobile {
        &__player-name {
            padding: 0;

            input {
                min-width: 200px;
            }
        }

        &__button--start {
            //margin-bottom: auto;
        }

    }
}


