.load {
    display: flex;
}

.load__circle {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    margin: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
        content: "";
        width: 3vh;
        height: 3vh;
        border-radius: 50%;
        opacity: 0.7;
        animation: scale 2s infinite 
        cubic-bezier(0, 0, 0.49, 1.02);
    }

    &-1 {
        background-color: $color-1;
            &:before {
            background-color: $color-1;
            animation-delay: 200ms * 1;
        }
    }

    &-2 {
        background-color: $color-2;
            &:before {
            background-color: $color-2;
            animation-delay: 200ms * 2;
        }
    }

    &-3 {
        background-color: $color-3;
            &:before {
            background-color: $color-3;
            animation-delay: 200ms * 3;
        }
    }

    &-4 {
        background-color: $color-4;
            &:before {
            background-color: $color-4;
            animation-delay: 200ms * 4;
        }
    }

    &-5 {
        background-color: $color-5;
            &:before {
            background-color: $color-5;
            animation-delay: 200ms * 5;
        }
    }

    &-6 {
        background-color: $color-6;
            &:before {
            background-color: $color-6;
            animation-delay: 200ms * 6;
        }
    }

    &-7 {
        background-color: $color-7;
            &:before {
            background-color: $color-7;
            animation-delay: 200ms * 7;
        }
    }

    @media (orientation: portrait) {
        width: 8vw;
        height: 8vw;
        margin: 2vw;
           
        &:before {
            width: 8vw;
            height: 8vw;
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%, 75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}