.records {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #020030;
    font-size: 20px;
    padding: 0 20px;

    &__row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        overflow: hidden;
        min-height: 45px;
        border-top-left-radius: 22.5px;
        border-bottom-left-radius: 22.5px;
    }

    &__score {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        font-size: 26px;
        border: 2px solid #020030;
        border-radius: 50%;
        margin-right: 15px;
        font-style: normal;
    }

}
